:root {
  --main-font: 'Inter', sans-serif;
  --letter-spacing: -0.06em;
  --green: #BCBF1F;
}

html, body {
  margin: 0;
  font-family: var(--main-font);
  letter-spacing: var(--letter-spacing);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
